.wishtypes-list {
  input[type="checkbox"]{
    margin-right: 5px;
  }
}

.orderWishForm{
  margin-top: 10px;
  margin-left: 20px;



  .category-title{
    font-size: 18pt;
    font-family: 'Lobster';
  }
  label{
    font-size: 10pt;
    font-weight: normal;
  }
  textarea{
    margin-top: 10px;
    width: 500px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0
  }
}